/* ***** default skin *****
 * Skin     : default
 * Author   : Michael Jour
 *
 * No fancy shit here, just some basic CSS2.
 */

/* ***** GENERAL SETTINGS ***** */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    background: url(gfx/bg_body.gif) top left;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* ***** LAYOUT ***** */
div#layout {
    background-color: #eee;
}
div#layout>div,
div#footer {
    margin: 0 auto;
    padding: 1px;
    width: 980px;
}
div#content {
    margin: 10px 20px 20px 20px;
    padding: 0;
    text-align: left;
}
div#footer {
    text-align: left;
}
div#footer a, div#footer a:link, div#footer a:visited, div#footer a:active {
    color: #777;
}

/* ***** HEADER ***** */
div#header {
    background: #222 url(gfx/bg_page_head_left.gif) top left repeat-y;
}
div#header>div {
    background: url(gfx/bg_page_head_bottom.gif) bottom left repeat-x;
}
div#header>div>div {
    background: url(gfx/bg_page_head_right.gif) top right repeat-y;
}
div#header>div>div>div {
    background: url(gfx/bg_page_head_bottom_left.gif) bottom left no-repeat;
}
div#header>div>div>div>div {
    text-align: left;
    background: url(gfx/bg_page_head_bottom_right.gif) bottom right no-repeat;
}
div#header>div>div>div>div img {
    margin: 5px 0 5px 10px;
    border: none;
}

