/* ***** default skin *****
 * Skin     : default
 * Author   : Michael Jour
 *
 * No fancy shit here, just some basic CSS2.
 */

/* ***** GENERAL SETTINGS ***** */
* {
    margin:             0;
    padding:            0;
}

body {
    font-family:        Tahoma, Helvetica, sans-serif;
    font-size:          10pt;
    text-align:         center;
    background:         url(gfx/bg_body.gif) top left;
}

a, a:link, a:visited, a:active {
    text-decoration:    none;
}
a:hover {
    text-decoration:    underline;
}

/* input */
input {
    padding:            1px 5px;
    border:             1px solid #aaa;
}

/* button */
button {
    border:             none;
}

button.inline div {
    height:             18px;
}
button.inline>div {
    background:         url(gfx/button_inline_tile.gif) 0 0 repeat-x;
}
button.inline:hover>div {
    background-position:    0 -18px;
}
button.inline>div>div {
    background:         url(gfx/button_inline_right.gif) 100% 0 no-repeat;
}
button.inline:hover>div>div {
    background-position:    100% -18px;
}
button.inline>div>div>div {
    padding:            0 7px 0 25px;
    color:              #ddd;
    font-weight:        bold;
    background:         0 0 no-repeat;
}
button.inline:hover>div>div>div {
    background-position:    0 -18px;
}

a.big div {
    height:             33px;
    display:            inline-block;
}
button.big div {
    height:             33px;
}
a.big>div,
button.big>div {
    background:         url(gfx/button_big_tile.gif) 0 0 repeat-x;
}
a.big:hover>div,
button.big:hover>div {
    background-position:    0 -33px;
}
a.big>div>div,
button.big>div>div {
    background:         url(gfx/button_big_right.gif) 100% 0 no-repeat;
}
a.big:hover>div>div,
button.big:hover>div>div {
    background-position:    100% -33px;
}
a.big>div>div>div,
button.big>div>div>div {
    background:             0 0 no-repeat;
}
a.big:hover>div>div>div,
button.big:hover>div>div>div {
    background-position:    0 -33px;
}

button.confirm>div>div>div {
    background-image:   url(gfx/button_big_confirm.gif);
}
a.decline>div>div>div {
    background-image:   url(gfx/button_big_decline.gif);
}
a.decline>div>div>div>div,
button.confirm>div>div>div>div {
    padding:            8px 7px 0 45px;
    font-size:          14px;
    font-weight:        bold;
    color:              #ddd;
}

/* tables */
table {
    border-collapse:    collapse;
}
table tr.odd td {
    background-color:   #ccc;
}
table tr.even td {
    background-color:   #eee;
}

/* overview tables */
table.listing {
    margin:             20px 0 30px 10px;
    border-bottom:      1px solid #aaa;
}
table.listing tr.even td {
    border-bottom:      1px solid #aaa;
    border-top:         1px solid #aaa;
}
table.listing td.col1 {
    padding-left:       5px;
}
table.listing button.inline {
    margin:             1px 5px;
}
table.listing td.modify button.inline>div>div>div {
    background-image:   url(gfx/button_inline_modify.gif);
}
table.listing td.delete button.inline>div>div>div {
    background-image:   url(gfx/button_inline_delete.gif);
}
table.listing td.resetpassword button.inline>div>div>div {
    background-image:   url(gfx/button_inline_key.gif);
}
table.listing tr.odd button.inline>div,
table.listing tr.odd button.inline>div>div>div {
    background-position:    0 -36px;
}
table.listing tr.odd button.inline:hover>div,
table.listing tr.odd button.inline:hover>div>div>div {
    background-position:    0 -54px;
}
table.listing tr.odd button.inline>div>div {
    background-position:    100% -36px;
}
table.listing tr.odd button.inline:hover>div>div {
    background-position:    100% -54px;
}


/* ***** LAYOUT ***** */
div#layout {
    background-color:   #eee;
}
div#layout>div,
div#footer {
    margin:             0 auto;
    padding:            1px;
    width:              980px;
}
div#canvas {
    margin:             10px 20px 20px 20px;
    padding:            0;
    text-align:         left;
}
div#footer {
    padding-left:       40px;
    font-size:          10px;
    color:              #999;
    text-align:         left;
}
div#footer a, div#footer a:link, div#footer a:visited, div#footer a:active {
    color:              #777;
}
div#footer div.foot_nav {
    margin-right:       40px;
    float:              right;
}

div#layout>div>div#canvas>div>div#content {
    margin-right:       200px;
}


/* ***** HEADER ***** */
div#header {
    background:         #222 url(gfx/bg_page_head_left.gif) top left repeat-y;
}
div#header>div {
    background:         url(gfx/bg_page_head_bottom.gif) bottom left repeat-x;
}
div#header>div>div {
    background:         url(gfx/bg_page_head_right.gif) top right repeat-y;
}
div#header>div>div>div {
    background:         url(gfx/bg_page_head_bottom_left.gif) bottom left no-repeat;
}
div#header>div>div>div>div {
    text-align:         left;
    background:         url(gfx/bg_page_head_bottom_right.gif) bottom right no-repeat;
}
div#header>div>div>div>div img {
    margin:             5px 0 5px 10px;
    border:             none;
}


/* ***** DOMAIN ***** */
table.domain_list td.col1 {
    padding-right:      5px;
    text-align:         left;
    border-right:       1px solid #aaa;
}
table.domain_list td.col2 {
    padding:            0 5px 0 15px;
    text-align:         right;
    border-right:       1px solid #aaa;
}
table.domain_list tr.headline td.col1 {
    text-align:         right;
}

div#domain_overview div#create_new_domain {
    margin:             5px 0 10px 10px;
}
div#domain_overview div#create_new_domain button.inline>div>div>div {
    background-image:   url(gfx/button_inline_create_domain.gif);
}

div#page_domain_confirm_delete {
    margin:             20px 0 30px 0;
    text-align:         center;
}
div#page_domain_confirm_delete button.confirm:hover>div,
div#page_domain_confirm_delete button.confirm:hover>div>div>div {
    background-position:    0 -99px;
}
div#page_domain_confirm_delete button.confirm:hover>div>div {
    background-position:    100% -99px;
}
div#domain_modify p {
    margin:             10px;
}
div#domain_modify div#domain_modify_form_box {
    text-align:         center;
}
div#domain_modify div#domain_modify_form_box input {
    margin:             10px 0;
    font-size:          14pt;
    width:              300px;
}


/* ***** USER ***** */
table.user_list td.col1 {
    padding-right:      5px;
    font-weight:        bold;
    border-right:       1px solid #aaa;
}
table.user_list td.col2 {
    padding:            0 0 0 5px;
}
table.user_list td.col3 {
    padding:            0 5px 0 0;
    border-right:       1px solid #aaa;
}
table.user_list tr.headline td.col1 {
    text-align:         center;
}

div#user_overview table.create_new_user {
    margin:             5px 0 10px 10px;
}
div#user_overview table.create_new_user td.col1 input,
div#user_overview table.create_new_user td.col3 select {
    margin:             0px 5px;
}
div#user_overview table.create_new_user td.col2 {
    font-size:          12pt;
    font-weight:        bold;
}
div#user_overview table.create_new_user button.inline>div>div>div {
    background-image:   url(gfx/button_inline_create_user.gif);
}
div#user_create p,
div#user_modify p,
div#user_resetpassword p {
    margin:             10px;
}
div#user_create div#user_create_form_box,
div#user_modify div#user_modify_form_box,
div#user_resetpassword div#resetpassword_form_box {
    text-align:         center;
}
div#user_create div#user_create_form_box input,
div#user_modify div#user_modify_form_box input,
div#user_resetpassword div#resetpassword_form_box input {
    margin:             10px 0;
    font-size:          14pt;
    width:              300px;
}
div#page_user_confirm_delete {
    margin:             20px 0 30px 0;
    text-align:         center;
}
div#page_user_confirm_delete button.confirm:hover>div,
div#page_user_confirm_delete button.confirm:hover>div>div>div {
    background-position:    0 -99px;
}
div#page_user_confirm_delete button.confirm:hover>div>div {
    background-position:    100% -99px;
}
div#user_modify div#user_modify_form_box table {
    margin: 0 auto;
}
div#user_modify div#user_modify_form_box table td.col2 {
    padding:            0 5px;
    font-size:          16pt;
    font-weight:        bold;
}
div#user_modify div#user_modify_form_box select {
    margin:             10px 0;
    font-size:          14pt;
}


/* ***** NAVIGATION ***** */
div#navigation {
    width:              200px;
    float:              right;
    font-weight:        bold;
    font-size:          14px;
}
div#navigation a, div#navigation a:link, div#navigation a:visited, div#navigation a:active, div#navigation a:hover {
    text-decoration:    none;
}

div#navigation>a div {
    height:             22px;
}


div#navigation>a>div {
    margin-top:         5px;
    background:         url(gfx/button_nav_tile.gif) 0 0 repeat-x;
}
div#navigation>a>div>div {
    background:         url(gfx/button_nav_right.gif) 100% 0 no-repeat;
}

div#navigation>a.nav_button_home>div>div>div {
    background:         url(gfx/button_nav_home.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_domain>div>div>div {
    background:         url(gfx/button_nav_domain.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_user>div>div>div {
    background:         url(gfx/button_nav_mail.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_alias>div>div>div {
    background:         url(gfx/button_nav_alias.gif) 0 0 no-repeat;
}

div#navigation>a:hover>div,
div#navigation>a:hover>div>div>div {
    background-position:    0 -22px;
}
div#navigation>a:hover>div>div {
    background-position:    100% -22px;
}
div#page_home div#navigation>a.nav_button_home>div,
div#page_domain div#navigation>a.nav_button_domain>div,
div#page_user div#navigation>a.nav_button_user>div,
div#page_alias div#navigation>a.nav_button_alias>div,
div#page_home div#navigation>a.nav_button_home>div>div>div,
div#page_domain div#navigation>a.nav_button_domain>div>div>div,
div#page_user div#navigation>a.nav_button_user>div>div>div,
div#page_alias div#navigation>a.nav_button_alias>div>div>div {
    background-position:    0 -44px;
}
div#page_home div#navigation>a.nav_button_home>div>div,
div#page_domain div#navigation>a.nav_button_domain>div>div,
div#page_user div#navigation>a.nav_button_user>div>div,
div#page_alias div#navigation>a.nav_button_alias>div>div {
    background-position:    100% -44px;
}
div#page_home div#navigation>a.nav_button_home:hover>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div,
div#page_user div#navigation>a.nav_button_user:hover>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div,
div#page_home div#navigation>a.nav_button_home:hover>div>div>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div>div>div,
div#page_user div#navigation>a.nav_button_user:hover>div>div>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div>div>div {
    background-position:    0 -66px;
}
div#page_home div#navigation>a.nav_button_home:hover>div>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div>div,
div#page_user div#navigation>a.nav_button_user:hover>div>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div>div {
    background-position:    100% -66px;
}

div#navigation>a>div>div>div>div {
    padding:            2px 0 0 30px;
    color:              #ddd;
}

