/* ***** default skin *****
 * Skin     : default
 * Author   : Michael Jour
 *
 * No fancy shit here, just some basic CSS2.
 */

/* ***** GENERAL SETTINGS ***** */
* {
    margin:             0;
    padding:            0;
}

body {
    font-family:        Tahoma, Helvetica, sans-serif;
    font-size:          10pt;
    text-align:         center;
    background:         url(gfx/bg_body.gif) top left;
}

a, a:link, a:visited, a:active {
    text-decoration:    none;
}
a:hover {
    text-decoration:    underline;
}

/* tables */
table {
    border-collapse:    collapse;
}
table tr.odd td {
    background-color:   #ccc;
}
table tr.even td {
    background-color:   #eee;
}

/* overview tables */
table.listing {
    margin: 20px 0 30px 10px;
    border-bottom:      1px solid #aaa;
}
table.listing tr.even td {
    border-bottom:      1px solid #aaa;
    border-top:         1px solid #aaa;
}
table.listing td.col1 {
    padding-left:       5px;
}


/* ***** LAYOUT ***** */
div#layout {
    background-color:   #eee;
}
div#layout>div,
div#footer {
    margin:             0 auto;
    padding:            1px;
    width:              980px;
}
div#canvas {
    margin:             10px 20px 20px 20px;
    padding:            0;
    text-align:         left;
}
div#footer {
    padding-left:       40px;
    font-size:          10px;
    color:              #999;
    text-align:         left;
}
div#footer a, div#footer a:link, div#footer a:visited, div#footer a:active {
    color:              #777;
}
div#footer div.foot_nav {
    margin-right:       40px;
    float:              right;
}

div#layout>div>div#canvas>div>div#content {
    margin-right:       200px;
}


/* ***** HEADER ***** */
div#header {
    background:         #222 url(gfx/bg_page_head_left.gif) top left repeat-y;
}
div#header>div {
    background:         url(gfx/bg_page_head_bottom.gif) bottom left repeat-x;
}
div#header>div>div {
    background:         url(gfx/bg_page_head_right.gif) top right repeat-y;
}
div#header>div>div>div {
    background:         url(gfx/bg_page_head_bottom_left.gif) bottom left no-repeat;
}
div#header>div>div>div>div {
    text-align:         left;
    background:         url(gfx/bg_page_head_bottom_right.gif) bottom right no-repeat;
}
div#header>div>div>div>div img {
    margin:             5px 0 5px 10px;
    border:             none;
}


/* ***** DOMAIN ***** */
table.domain_list td.col2 {
    padding:            0 5px 0 15px;
    text-align:         right;
    border-right:       1px solid #aaa;
}


/* ***** NAVIGATION ***** */
div#navigation {
    width:              200px;
    float:              right;
    font-weight:        bold;
    font-size:          14px;
}
div#navigation a, div#navigation a:link, div#navigation a:visited, div#navigation a:active, div#navigation a:hover {
    text-decoration:    none;
}

div#navigation>a div {
    height:             22px;
}


div#navigation>a>div {
    margin-top:         5px;
    background:         url(gfx/button_nav_tile.gif) 0 0 repeat-x;
}
div#navigation>a:hover>div {
    background-position:    0 -22px;
}

div#page_home div#navigation>a.nav_button_home>div,
div#page_domain div#navigation>a.nav_button_domain>div,
div#page_user div#navigation>a.nav_button_user>div,
div#page_alias div#navigation>a.nav_button_alias>div {
    background-position:    0 -44px;
}
div#page_home div#navigation>a.nav_button_home:hover>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div,
div#page_user div#navigation>a.nav_button_user:hover>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div {
    background-position:    0 -66px;
}


div#navigation>a>div>div {
    background:         url(gfx/button_nav_right.gif) 100% 0 no-repeat;
}
div#navigation>a:hover>div>div {
    background-position:    100% -22px;
}

div#page_home div#navigation>a.nav_button_home>div>div,
div#page_domain div#navigation>a.nav_button_domain>div>div,
div#page_user div#navigation>a.nav_button_user>div>div,
div#page_alias div#navigation>a.nav_button_alias>div>div {
    background-position:    100% -44px;
}
div#page_home div#navigation>a.nav_button_home:hover>div>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div>div,
div#page_user div#navigation>a.nav_button_user:hover>div>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div>div {
    background-position:    100% -66px;
}


div#navigation>a>div>div>div>div {
    padding:            2px 0 0 30px;
    color:              #ddd;
}

div#navigation>a.nav_button_home>div>div>div {
    background:         url(gfx/button_nav_home.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_domain>div>div>div {
    background:         url(gfx/button_nav_domain.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_user>div>div>div {
    background:         url(gfx/button_nav_mail.gif) 0 0 no-repeat;
}
div#navigation>a.nav_button_alias>div>div>div {
    background:         url(gfx/button_nav_alias.gif) 0 0 no-repeat;
}

div#navigation>a:hover>div>div>div {
    background-position:    0 -22px;
}
div#page_home div#navigation>a.nav_button_home>div>div>div,
div#page_domain div#navigation>a.nav_button_domain>div>div>div,
div#page_user div#navigation>a.nav_button_user>div>div>div,
div#page_alias div#navigation>a.nav_button_alias>div>div>div {
    background-position:    0 -44px;
}
div#page_home div#navigation>a.nav_button_home:hover>div>div>div,
div#page_domain div#navigation>a.nav_button_domain:hover>div>div>div,
div#page_user div#navigation>a.nav_button_user:hover>div>div>div,
div#page_alias div#navigation>a.nav_button_alias:hover>div>div>div {
    background-position:    0 -66px;
}
